:root {
  --bar-color: #111111;
  --main-field-color: #323232;
  --main-text-color: #ffac41;
  --selected-text-color: #ff1e56;
}

body{
  background: var(--main-field-color);
  color: var(--main-text-color);
}

#fixtitleTop{
  background-color: var(--bar-color);
  height: 100px;
  position:fixed;
  top:0;/*Здесь указать сколько отступ от верха*/
  left:0;/*Здесь указать сколько отступ слева*/
  right:0;/*Здесь указать сколько отступ справа*/
  border-bottom: 2px solid var(--main-field-color);
}

#fixtitleLeft {
  background-color: var(--bar-color);
  position: fixed;
  left: 0;
  bottom: 0;
  top: 100px;
  width: 230px;
  border-right: 2px solid var(--main-field-color);
  border-top: 2px solid var(--main-field-color);
}

#infofield{
  margin-left: 239px;
  margin-top: 115px;
  bottom: 9px;
  right: 0;
}

#marginForTextField {
  margin-left: 5px;
  margin-right: 5px;
}

#tableConf{
  width: 100%;
  height: 100px;
  border-collapse: separate;
}

table.tableConf{
  width: 100%;
}

table.tableConf tr{
  height: 15px;
  font-size: 14;
}

table.tableConf tr.trOne{
  border-bottom: 2px solid var(--main-text-color);
  height: 20px;
  font-size: 16;
}

#infofield #tableConf  {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#tableConf td{
  vertical-align: top;
  width: 30%;
}


img.logo{
   width: 200px;
   height: 100px;
}

#tableConf td.col1{
  width: 100px;
}
#tableConf td.col2{
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
#tableConf td.col3{
  width:100px;
  vertical-align:middle;
}


#fixtitleTop input{
  width: 100%;
  background-color: var(--bar-color);
  border: 2px solid var(--bar-color);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  -webkit-transaction-duration:0.4s;
  transition-duration:0.4s;
}

#fixtitleLeft input{
  width: 100%;
  background-color: var(--bar-color);
  border: 2px solid var(--bar-color);
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  -webkit-transaction-duration:0.4s;
  transition-duration:0.4s;
}


#fixtitleLeft input:hover{
  background-color: var(--main-field-color);
  color: var(--selected-text-color);
  border: 2px solid var(--bar-color);
}

#fixtitleTop input:hover{
  background-color: var(--main-field-color);
  color: var(--selected-text-color);
  border: 2px solid var(--bar-color);
}

input{
  background-color: var(--bar-color);
  border: 2px solid var(--bar-color);
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
}

div.information{
  border: 2px solid var(--main-text-color);
}

#hideLogin, #showLogin{
  background: var(--main-field-color);
}

.login, .registration {
  padding: 16px;
  border-radius: 4px;
  background: #323232;
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.15), 4px 4px 10px rgba(0, 0, 0, 0.25);
}

[type='submit'], [type='reset'] {
  padding: 8px;
  width: 100%;
  background: #323232;
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.15), 4px 4px 10px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 4px;
  text-align: center;
  color: #f7f7f7;
}

[type='text'], [type='password'] {
  background: #323232;
  border: 0;
  padding: 8px;
  border-bottom: 1px solid #ababab;
}

.indexBar{
  font-size: 14;
}